@font-face {
  font-family: 'Jost';
  src: url('fonts/Jost-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DMSerifDisplay';
  src: url('fonts/DMSerifDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}